body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #339966;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#aviary-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bird-card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    background-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.bird-card img {
    max-width: 100%;
    height: auto;
}

#bird-details {
    margin-top: 20px;
}
